	#rowColContainer{
		width:520px;
		height:180px;
		
	}
	
	#r1c1{
		display:inline-block;
		vertical-align:top;
		margin-top:6px;
		margin-left:6px;
		width:160px;
		height:80px;
	
	}
	
	#r1c1img{
		display:inline-block;
		margin-top:10px;
		margin-left:10px;
	}
	#r1c1txt{
		display:inline-block;
		vertical-align:top;
		margin-top:35px;
	}
	
	
	#r1c2{
		display:inline-block;
		vertical-align:top;
		margin-top:6px;
		margin-left:10px;
		width:160px;
		height:80px;
		
	}
	
	#r1c2img{
		display:inline-block;
		margin-top:10px;
		margin-left:10px;
	}
	#r1c2txt{
		display:inline-block;
		vertical-align:top;
		margin-top:35px;
	}
	
	#r1c3{
		display:inline-block;
		vertical-align:top;
		margin-top:6px;
		margin-left:10px;
		width:160px;
		height:80px;
		
	}
	#r1c3img{
		display:inline-block;
		margin-top:10px;
		margin-left:10px;
	}
	#r1c3txt{
		display:inline-block;
		vertical-align:top;
		margin-top:35px;
	}
	
	#r2c1{
		display:inline-block;
		vertical-align:top;
		margin-top:2px;
		margin-left:6px;
		width:160px;
		height:80px;
		
	}
	
	#r2c1img{
		display:inline-block;
		margin-top:10px;
		margin-left:10px;
	}
	#r2c1txt{
		display:inline-block;
		vertical-align:top;
		margin-top:35px;
	}
	
	#r2c2{
		display:inline-block;
		vertical-align:top;
		margin-top:2px;
		margin-left:10px;
		width:160px;
		height:80px;
		
	}
	
	#r2c2img{
		display:inline-block;
		margin-top:10px;
		margin-left:10px;
	}
	#r2c2txt{
		display:inline-block;
		vertical-align:top;
		margin-top:35px;
	}
	
	
	#r2c3{
		display:inline-block;
		vertical-align:top;
		margin-top:2px;
		margin-left:10px;
		width:160px;
		height:80px;
		
	}
	
	#r2c3img{
		display:inline-block;
		margin-top:10px;
		margin-left:10px;
	}
	
	#r2c3txt{
		display:inline-block;
		vertical-align:top;
		margin-top:35px;
	}