body{
	background-image: url("./Pictures/Background_Image.png");
	background-size: cover;
}



#main{
	
	background-color : #000000;
	max-width:75%;
	margin-left:auto;
	margin-right:auto;
	height:100vh;
	top:0;
	bottom:0;

}

#top_banner{
	margin:0;
	display:inline-block;
	width:100%;
	
}


#head_text{
	display:inline-block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	text-align:center;


}


#set_of_links{
	display:inline-block;
	vertical-align:bottom;
	width:100%;
	padding:0;
	margin:0;

}



#LinkBar{
	width:100%;
	border:0;

}

#explanation_box{
	display:inline-block;
	height:500px;
	width:500px;
	text-align:center;
	color:#FFFFFF;
	margin:10px;
	
	
	
}

.Links{
	display:inline-block;
	vertical-align:bottom;
	text-align:center;
	width:25%;
	min-height:50px;
	margin-left:-2px;
	margin-right:-2px;
	background-color: #282828;
	color: rgb(196, 19, 23);
	font-family: "Bodoni MT Black", Times, serif;


}

.buttonLinks{
	background-color:transparent;
	color:rgb(196, 19, 23);
	border:none;
	width:100%;
	height:50px;



}

