
	
	#rightColumn{
		display: inline-block;
		vertical-align:top; 
		color:white;
		width:530px;
		height:534px;
		font-size : 15px;
		background-color:#A6AFA6;
	}

	
	#Special_Exh{
		background-color:#6e816e;
		padding-bottom:0px;
		margin-bottom:0px;
		width:530px;
	}
	
	#actualExh{
		background-color:#747A74;
		padding-top:2px;
		margin-top:2px;
		width:530px;
		height:300px;
	}
	
	#Selected_Highlights{
		background-color:#6e816e;
		padding-top:2px;
		margin-top:2px;
		width:530px;
	}
	
	#actualSelHigh{
		background-color:#747A74;
		padding:5px;
		margin-top:2px;
		width:520px;
		height:180px;
	}
	
	