	#BigHeadImg{
		display:inline-block;
		padding:10px;
		
	}
	
	#Treasures{
		display:inline-block;
		padding:10px;
	}
	
	#HudsonRiver{
		display:inline-block;
		padding:10px;
	}
	
	#Text_Un_Pics{
		margin-left:10px;
		width:500px;
		height:75px;
		background-color:#747A74;
	}
	
	#bigHeadText{
		display:inline-block;
		color:white;
		background-color:#747A74;
		width:150px;
		margin-right:20px;
	}
	
	#tresText{
		display:inline-block;
		color:white;
		background-color:#747A74;
		width:150px;
		margin-right:20px;
	}
	
	#rvrText{
		display:inline-block;
		color:white;
		background-color:#747A74;
		width:150px;
	}
	
	